
.main{
    align-items: center;
    display: grid;
    grid-gap: 20px;
    @include grid-template-columns(1fr grid-repeat(3)); 
    // repeat(4, 1fr);
    @include grid-template-rows(1fr grid-repeat(2));
    // repeat(3, auto);
    grid-template-areas: "main__item main__item picture  picture"
    "main__item main__item picture  picture "
    "search search search search";
    height: 100vh;
    justify-items: center;
    max-width: 1000px;
    margin:20px auto;
    width: 90%;  
    
    &__item{
        align-content: space-evenly;
        display: flex;
        grid-area: main__item;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    
    &__item--title{
        color: #b2fa9c;
        text-align: center;
        font-weight: bolder;
        font-size: 4rem;
    }

    &__item--description{
        margin-top: 50px;
        font-size: 1.9rem;
        text-align: justify;
        line-height: 25px;
        color: white;
    }


}
