@media screen and (min-width: 768px) and (max-width: 1023px){

    .header{
        position: fixed;
        top: 0;

        &__title{
            padding-left: 30%;
        }

        &__menu{
            display: block;
            position: fixed;
            width:100%;
            padding: 30px;
            outline: none;
        }
     
        &__menu--a{
            display: block;
            text-decoration: none;
            color: white;
            font-weight: bolder;
            font-size: 1.7rem;
            float: right;
        }
    
        &__menu--span{
    
            color: white;
            display: block;
            font-size: 2rem;
            font-weight: bold;  
            float: right; 
            overflow: hidden; 
            padding-left: 20px;  
        }
    
        &__category--span{
            float: left;
            position: relative;
        }
    
        &__category-ul{
            min-width: 150px;
            flex-direction: column;
            align-items: flex-start;
            position: fixed;
            display: flex;
            right: -100%;
            background-color: rgba(0, 0, 0, 0.1);
            transition: all 0.5s;
            margin-top: 10px;
        }    
    
        &__category-ul.active{
            right: 0;
        }
      
    }

    .modal__category-error{
        color: red;
    }
    .main{
        grid-template-areas:"main__item main__item main__item  main__item"
        "picture picture picture  picture"
        "search search search  search";
        margin-top: 90px;
        height: 150vh;

        &__item--description{
            margin-top: 50px;
            font-size: 2rem;
            text-align: justify;
            line-height: 25px;
            color: white;
        }
    }

    .picture__img{
        width: 350px;
    }
    .search__character{
        width: 100%;

        &__buton{
            max-width: 150px;
            width: 40%;
        }
    } 

    .footer__container{
        flex-direction: column;
        justify-content: center;
        height: 80px;

        &__title{
            margin-bottom: 5px;
        }
    }
  
     
}